@use 'variables';
@use 'base';
body {
    background: variables.$bg;
    font-family: Noto Serif, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

h1 {
    color: variables.$primary;
}

p {
    color: variables.$primary;
}

.box {
    padding: 1em 2em;
    background-color: beige;
    color: black;
}